<h1>A fantastical adventure</h1>
<p>
  The $color Dragon is the $superlative Dragon of all. It has $adjective $bodyPart, and a $bodyPart2 shaped like a $noun. It loves to eat Long-Tailed $animals, although it will feast on nearly anything. It is $adjective2 and $adjective3. You must be $adjective4 around it, or you may end up as it`s meal!
</p>
